.container {
  width: 100%;
  height: 100vh;
  background: var(--background-body);
  /* border: 10px solid red; */
}

.signIn {
  border: 1px solid gray;
  width: 100%;
  height: 100%;
  padding: 1em;
  margin: 0.25em;
  border-radius: 5px;
  position: relative;
  top: 1px;
  left: -5px;
}

.signIn:focus {
  outline: none;
  box-shadow: 0.2px 0.3px 0.5px 0.2px var(--button-log-In);
  border: 1px solid var(--button-log-In);
}
.containerAll {
  width: 100%;
  /* margin: 0 auto; */
  height: 100%;
  /* margin: 0px 2px;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.discription {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  justify-self: self-end;
  margin-right: 3em;
  /* justify-content: space-around; */
  /* border: 1px solid red; */
}

.details {
  height: 350px;
  width: 350px;
}

.top {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fb {
  font-weight: bold;
  color: var(--logo-fb);
  font-size: 3.5rem;
}

.topBox {
  /* border: 1px solid black; */
  padding: 10px;
  height: 90%;
  position: relative;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
}

.fbDisp {
  font-size: 1.5rem;
  width: 100%;
}

.topHrBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.topAllDetails {
  display: flex;
  /* border: blue solid 2px; */
  /* margin: 10px; */
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  position: relative;
  width: 100%;
}

.logIn {
  position: relative;
  left: -10px;
  cursor: pointer;
  width: 325px;
  height: 350px;
  margin: 10px;
  background-color: var(--button-log-In);
  border: 1px solid var(--button-log-In);
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.logIn:hover {
  background-color: var(--button-log-In-hover);
  border: 1px solid var(--button-log-In-hover);
}

.ancher {
  position: relative;
  bottom: 290px;
  left: 100px;
  text-decoration: none;
}

.belowAllDetails {
  width: 100%;
  height: 20%;
  display: flex;
  position: relative;
  top: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.creatAccount {
  width: 55%;
  cursor: pointer;
  border: 1px solid var(--button-create-acc);
  height: 65%;
  position: relative;
  left: 80px;
  color: white;
  font-size: 0.95rem;
  padding: 0.35em;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--button-create-acc);
  top: 5px;
}
.creatAccount:hover {
  background: var(--button-create-acc-hover);
  border: 1px solid var(--button-create-acc-hover);
}
.foot {
  position: relative;
  top: 25px;
  font-weight: normal;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
}
span {
  font-weight: bold;
}

@media (max-width: 900px) {
  .containerAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .details {
    margin: 40px;
  }

  .fb {
    position: relative;
    left: 50px;
  }
}
