.modal {
  /* margin: 0 auto; */
  z-index: 100;
  background-color: #fff;
  border: 1px solid white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.705);
  border-radius: 8px;
  position: absolute;
  height: calc(var(--model-height) - 670px);
  width: calc(var(--model-width) - 750px);
  left: 40%;
  top: 20%;
  transform: translate(-25%, -5%);
  transition: all 0.2 ease-in-out;
}
